@model IEnumerable<INSFIT.Models.Dieta>

@{
    ViewData["Title"] = "Index";
}
<html>


<head>
    <link rel="stylesheet" href="./css/Dieta.css" />
    <h1>DIETAS</h1>
    <h5 id="dieta">SAÚDE E BEM-ESTAR</h5>
</head>



<body>

    <input class="form-control" type="text" placeholder="Listas de Dietas..." list="Dietas">
    <datalist id="Dietas">
        <option value="">LISTA DE DIETAS:</option>
        <option value="CAFÉ DA MANHÃ"></option>
        <option value="LANCHE DA MANHÃ"></option>
        <option value="ALMOÇO"></option>
        <option value="LANCHE DA TARDE"></option>
        <option value="JANTAR"></option>
    </datalist>

    <div class="botao-teste">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </div>

    <div class="conteiner-1">

        <h5 id="dieta" align="center">Café da manhã</h5>
        <p align="center">
            1 xícara de Café com leite desnatado com açúcar<br />
            1 unidade média de Pão francês sem miolo<br />
            1,5 colheres (sopa) de Margarina<br />
            2 unidades médias de Ameixa vermelha fresca<br />
        </p>

        <h5 id="dieta" align="center">Lanche da manhã</h5>
        <p align="center">
            0,5 unidade pequena de Mamão papaia<br />
            1 colher (sopa) cheia de Granola<br />
        </p>

        <h5 id="dieta" align="center">Almoço</h5>
        <p align="center">
            Agrião a vontade<br />
            3 colheres (sopa) cheias de arroz integral cozido<br />
            2 colheres (sopa) cheias de Brócolis cozido<br />
            2 colheres (sopa) rasas de Purê de batata<br />
            1 filé médio de merluza cozida<br />
            1 fatia média de Melancia<br />
        </p>

        <h5 id="dieta" align="center">Lanche da tarde</h5>
        <p align="center">
            1 unidade de iogurte desnatado de frutas<br />
        </p>

        <h5 id="dieta" align="center">Jantar</h5>
        <p align="center">
            2 fatias de pão integral<br />
            Alface<br />
            3 fatias médias de tomate<br />
            1 unidade de Hambúrguer bovino grelhado<br />
            1 colher (sopa) cheia de Vinagrete<br />
            1 copo pequeno de Limonada (suco de limão) sem açúcar<br />
        </p>

    </div>

</body>





















































</html>
