@model IEnumerable<INSFIT.Models.Dieta>

@{
    ViewData["Title"] = "Index";
}
<html>


<head>
    <link rel="stylesheet" href="./css/Dieta.css" />


    <h1>DIETAS</h1>
    <h5 id="dieta">SAÚDE E BEM-ESTAR</h5>
</head>



<body>

    <input class="form-control" type="text" placeholder="Listas de Dietas..." list="Dietas">
    <datalist id="Dietas">
        <option value="CAFÉ DA MANHÃ"></option>
        <option value="LANCHE DA MANHÃ"></option>
        <option value="ALMOÇO"></option>
        <option value="LANCHE DA TARDE"></option>
        <option value="JANTAR"></option>
    </datalist>

    <div class="botao-teste">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </div>


    <div id:"cafe da manha">
        <p align="center">
            CAFÉ DA MANHÃ<br />
            1 xícara de Café com leite desnatado com açúcar<br />
            1 unidade média de Pão francês sem miolo<br />
            1,5 colheres (sopa) de Margarina<br />
            2 unidades médias de Ameixa vermelha fresca<br />
        </p>

    </div>

    <div id:"cafe da manha">
        <p align="center">
            CAFÉ DA MANHÃ<br />
            1 xícara de Café com leite desnatado com açúcar<br />
            1 unidade média de Pão francês sem miolo<br />
            1,5 colheres (sopa) de Margarina<br />
            2 unidades médias de Ameixa vermelha fresca<br />
        </p>
    </div>


    <div id:"lanche da manha">
        <p align="center">
            LANCHE DA MANHÃ<br />
            0,5 unidade pequena de Mamão papaia<br />
            1 colher (sopa) cheia de Granola<br />
        </p>
    </div>

 
     <div id:"almoco">  
        <p align="center">
            ALMOÇO<br />
            Agrião a vontade<br />
            3 colheres (sopa) cheias de arroz integral cozido<br />
            2 colheres (sopa) cheias de Brócolis cozido<br />
            2 colheres (sopa) rasas de Purê de batata<br />
            1 filé médio de merluza cozida<br />
            1 fatia média de Melancia<br />
        </p>
    </div>


    <div id:"lanche da tarde">
        <p align="center">
            LANCHE DA TARDE<br />
            1 unidade de iogurte desnatado de frutas<br />

        </p>
    </div>


    <div id:"jantar">
        <p align="center">
            JANTAR<br />
            2 fatias de pão integral<br />
            Alface<br />
            3 fatias médias de tomate<br />
            1 unidade de Hambúrguer bovino grelhado<br />
            1 colher (sopa) cheia de Vinagrete<br />
            1 copo pequeno de Limonada (suco de limão) sem açúcar<br />
        </p>
    </div>

    }
    <script type="text/javascript" src="~/js/Dieta.js"></script>
</body>






















































</html>
