@model IEnumerable<INSFIT.Models.Dieta>

@{
    ViewData["Title"] = "Index";
}





<head>
<h1>DIETA</h1>
<h5>SAÚDE E BEM-ESTAR</h5>
</head>

<body>
   
  <input type="text" placeholder="Listas de Dietas..." list="Dietas">
  <datalist id="Dietas">
    <option value="">LISTA DE DIETAS:</option>
    <option value="Café da manhã"></option>
    <option value="Lanche da manhã"></option>
    <option value="Almoço"></option>
    <option value="Lanche da tarde"></option>
    <option value="jantar"></option>
  </datalist>

    <button type="submit">Enviar</button>

</body>