
*.v2
*.v2
*.v2
*.vsidx
*.v2
*.v2
*.exe
INSFIT/obj/Debug/net6.0/INSFIT.assets.cache
INSFIT/obj/Debug/net6.0/INSFIT.csproj.AssemblyReference.cache
INSFIT/obj/Debug/net6.0/INSFIT.GeneratedMSBuildEditorConfig.editorconfig
INSFIT/obj/INSFIT.csproj.nuget.dgspec.json
INSFIT/obj/project.nuget.cache
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
*.exe
INSFIT/bin/Debug/net6.0/INSFIT.dll
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/v17/.suo
*.v2
INSFIT/.vs/ProjectEvaluation/insfit.metadata.v2
INSFIT/.vs/ProjectEvaluation/insfit.projects.v2
INSFIT/bin/Debug/net6.0/INSFIT.dll
INSFIT/bin/Debug/net6.0/INSFIT.exe
INSFIT/bin/Debug/net6.0/INSFIT.pdb
INSFIT/bin/Debug/net6.0/INSFIT.staticwebassets.runtime.json
INSFIT/obj/Debug/net6.0/apphost.exe
INSFIT/obj/Debug/net6.0/INSFIT.assets.cache
INSFIT/obj/Debug/net6.0/INSFIT.csproj.CoreCompileInputs.cache
INSFIT/obj/Debug/net6.0/INSFIT.dll
INSFIT/obj/Debug/net6.0/INSFIT.GeneratedMSBuildEditorConfig.editorconfig
INSFIT/obj/Debug/net6.0/INSFIT.genruntimeconfig.cache
INSFIT/obj/Debug/net6.0/INSFIT.pdb
INSFIT/obj/Debug/net6.0/project.razor.vs.json
INSFIT/obj/Debug/net6.0/staticwebassets.development.json
INSFIT/obj/INSFIT.csproj.nuget.dgspec.json
INSFIT/obj/INSFIT.csproj.nuget.g.props
INSFIT/obj/project.assets.json
INSFIT/obj/project.nuget.cache
INSFIT/obj/staticwebassets.pack.sentinel
INSFIT/obj/Debug/net6.0/INSFIT.assets.cache
INSFIT/obj/Debug/net6.0/INSFIT.GeneratedMSBuildEditorConfig.editorconfig
INSFIT/obj/Debug/net6.0/project.razor.vs.json
