
*.v2
*.v2
*.v2
*.vsidx
*.v2
*.v2
*.exe
INSFIT/obj/Debug/net6.0/INSFIT.assets.cache
INSFIT/obj/Debug/net6.0/INSFIT.csproj.AssemblyReference.cache
INSFIT/obj/Debug/net6.0/INSFIT.GeneratedMSBuildEditorConfig.editorconfig
INSFIT/obj/INSFIT.csproj.nuget.dgspec.json
INSFIT/obj/project.nuget.cache
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
INSFIT/.vs/INSFIT/DesignTimeBuild/.dtbcache.v2
INSFIT/.vs/INSFIT/FileContentIndex/549f5bee-5766-41f8-a7dd-481512c8b334.vsidx
*.exe
INSFIT/bin/Debug/net6.0/INSFIT.dll
