@model INSFIT.Models.Feed

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Feed.css">
<script type="text/javascript" src="~/js/Feed.js"></script>

<h1>Create</h1>

<h4>Feed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CampoTexto" class="control-label"></label>
                <input asp-for="CampoTexto" class="form-control" rows="3" placeholder="O que você está pensando?" />
                <span asp-validation-for="CampoTexto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampoImgem" class="picture"></label>
                <input asp-for="CampoImgem" class="form-control form-control-lg" id="picture" type="file" />
                <span asp-validation-for="CampoImgem" class="picture_image"></span>
            </div>
           <!--<div class="form-group">
                <label asp-for="CampodePesquisa" class="control-label"></label>
                <input asp-for="CampodePesquisa" class="form-control" placeholder="Busca" />
                <span asp-validation-for="CampodePesquisa" class="text-danger"></span>
               </div>-->
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
           <!--<div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
