@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span id="insfit">insfit</span></h1>
</div>

<div id="indicadores">
    <a class="nav-link " asp-area="" asp-controller="Cadastro" asp-action="Login"><button class="escolhasIniciais">ENTRAR</button></a>
     <a class="nav-link " asp-area="" asp-controller="Cadastro" asp-action="Create"><button class=" escolhasIniciais">CADASTRAR-SE</button></a>
</div>
