@model INSFIT.Models.Perfil

@{
    ViewData["Title"] = "UsuarioLogado";
}

<h1>UsuarioLogado</h1>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @User.Identity.Name
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
