@model IEnumerable<INSFIT.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatório</h1>
   

<head>
    <link rel="stylesheet" href="~/css/Relatorio.css">

</head>

<body>
    

    <div class="container">

        <h2> Dados Básicos</h2>

        <div >

         <p>Qual seu peso ideal? (kg) </p>
         
            <input  class="input_area" id="pesid" type"number"/>
    </div>

    <div>
            <p>Qual seu peso atual? (kg) </p>
            <input class="input_area" id="pesoat" type"number" />
            </div>

              <button onclick="media()">Média</button>
        <textarea name="" class="input_area" id="text_area1" rows="3"> </textarea>
    </div>
     
     
   <div class="container">
        <h2> Calculadora de IMC </h2>

      
   <p> Altura (cm) </p>
    <input class="input_area" id="altura" type="number" />

  
    <p> Peso (kg) </p>
    <input class="input_area" id="peso" type="number" />
  

    <button onclick="calculate()">Calcular</button>

        <textarea name="" class="input_area" id="text_area" rows="3"> </textarea>
    </div>
    
 
    
    <script src="~/js/Relatorio.js"> </script>
</body>


 
 