@using static INSFIT.Models.Cadastro
@model INSFIT.Models.Cadastro

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
 <link rel="stylesheet" href="~/css/Cadastro.css">

    
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          INSFIT <br />
         <img width="200px" height="200px" src="~/img/logo insfit.png" alt="logo">
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
             <form asp-action="Create">
              <!-- 2 column grid layout with text inputs for the first and last names -->
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                   <label asp-for="name" class="control-label"></label>
                   <input asp-for="name" class="form-control" />
                   <span asp-validation-for="name" class="text-danger"></span>
                  </div>
                </div>
                
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
               <label asp-for="email" class="control-label"></label>
               <input asp-for="email" class="form-control" />
               <span asp-validation-for="email" class="text-danger"></span>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
               <label asp-for="senha" class="control-label"></label>
               <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
              </div>

             <div class="form-group">
              <label asp-for="tipoUsuario" class="control-label"></label>
              <select asp-for="tipoUsuario" class="form-control" asp-items="Html.GetEnumSelectList<TipoUsuario>()">></select>
              <span asp-validation-for="tipoUsuario" class="text-danger"></span>
             </div>
                            

              <!-- Botão Criar -->          
             <input type="submit" value="Create" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
