@model INSFIT.Models.Cadastro

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css">



<div class="row">
    <div class="col-md-4">
        <h1>Login</h1>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label">Senha</label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <br />
            <a class="nav-link text dark" asp-area="" asp-controller="Cadastro" asp-action="Create" style="color: #FFFF"><b>Caso não tenha se cadastrado, clique aqui.</b></a>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" />
            </div>
        </form>
        <h3> @ViewBag.Message </h3>
    </div> 
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
