@model INSFIT.Models.Cadastro

@{
    ViewData["Title"] = "Mapa";
}

<link rel="stylesheet" href="~/css/Mapa.css">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>
    <style>
        #map {
            height: 180px;
        }
    </style>
</head>

<hr />
<body>
<div>
    <div>
        <h1 style='text-align:center'> Encontre as academia mais pertas de você!</h1>
        <div class="form-outline">
            <label class="control-label">Insira seu endereço</label>
            <input class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div>
            <br/>
            <button type="submit" class="btn btn-primary btn-block mb-4">Consultar</button>
            <br />
            <br />
            <label>Sua localização é:</label>
            <script src="~/js/Mapa.js"></script>
            <h2></h2>
            <div id="map"></div>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div>
        <!--<div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14162.638587632586!2d-43.94322536515073!3d-19.916065153297428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce7b38dfdae777%3A0xd618083e84ba2163!2sSmart%20Fit%20-%20Amazonas%20-%20BH!5e0!3m2!1spt-BR!2sbr!4v1667058988799!5m2!1spt-BR!2sbr" width="1280" height="720" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>-->
    </div>
</div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
