@model INSFIT.Models.Cadastro

@{
    ViewData["Title"] = "Mapa";
}

<link rel="stylesheet" href="~/css/Mapa.css">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>
    <style>
        #mapid {
            height: 500px;
        }
        h2{
            font-size: 1.5rem;
            text-align: center;
        }
    </style>
</head>

<hr />
<body>
<div>
    <div>
        <h1 style='text-align:center'> Encontre as academias mais perto de você!</h1>
        <br/>
        <div class="form-outline">
            <h2>Habilite a localização do seu navegador para que possamos apresentar sua localização na tela e será possível encontrar as academias mais próximas.</h2>
                <label>As academias serão apresentas com o ícone</label><img src="~/img/Academia.png" class="media-object  img-responsive">
        </div>
        <div>
            <br/>
            <label>Sua localização é:</label>
            <script src="~/js/Mapa.js"></script>
            <h2></h2>
            <div id="mapid"></div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
