<!--

Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" >
<style >
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#006b32, #27ff1f);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#006b32, #27ff1f);
    
    overflow: hidden;
}

.bg-glass {
    background-color: #1c211b 
    
}

.form-control {
    color: #FFF;
    background-color: #161815;
    border: 1px solid #fff;
    border-top: 0px;
    border-right: 0px;
}

.col-md-4 {
    border: 30px solid #161815;
    border-radius: 11px;
    box-shadow: 1px 4px 15px 8px #7DA62C;
}

h1 {
    text-align: center;
    margin-bottom: revert-layer;
}

label {
    font-weight: 650;
    font-variant: small-caps;
}
