#dieta {
    color: #7da62c;
}

button {
    color: #fff;
    background-color: #7da62c;
    border-color: #7da62c;
    cursor: pointer;
    transition: all .3s ease;

}

.form-control {
    color: #FFF;
    background-color: transparent;
    border: 2px solid #7da62c;
    width: 1180px;
    height: 38px;

}

.botao-teste {
    display: flex;
    position: relative;
    left: 57vw;
    top: -4.4em;
    
}
.btn {
    padding: 0.40rem 3.00rem;
}
