body {
    background: #161815;
    color: #fff;
}
.table {
    color: #fff;
}
.btn-group {
    background-color: #7da62c;
    margin-left: 118px;
}
 publications {
     margin-left: 118px;
 }
 #postagem {
     margin-left: 118px;
 }
 #outros {
     margin-left:118px;
 }
