body {
    background: #161815;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#descricao {
    color: #7da62c;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nomeUsuario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 118px;
}
.CampoTexto{
    width: 200px;
}

.publications {
    border: 1px solid;
    border-color: #173809;
    border-radius: 10px;
    margin-bottom: 20px;
    width: relative;
    height: relative;
    box-shadow: 1px 2px 4px 3px #7DA62C;
}
.postagem {
    margin-left: 118px;
    margin-right: 118px;
}
.comentarios {
    margin-left: 100px;
}
 .dataPublicacao {
     margin-left: 118px;
     font-size: 10px;
 }
 .opcoes {
     margin-left: 1000px;
     font-size: 10px;
 }

 /*Botao Like*/

:root {
    --green: #7da62c;
    --verde-escuro: #161815;
    --black: #000;
    --white: #fff;
    --gray: #ccc;
}


.btn {
    width: 20px;
    margin-left: 118px;
    height: 30px;
    outline: 0;
    border: 2px solid var(--green);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 4px 15px 8px #7DA62C;
}

    .btn:hover {
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    }

.btn-curtir {
    padding: 0.5rem 1.7rem 1.5rem 6.7rem;
    text-align: center;
    color: #7DA62C;
    font-size: 15px;
    border-radius: 10px;
    background: var(transparent);
}

    .btn-curtir.curtido {
        background: var(--green);
        border-color: var(--black);
    }

/* Icone do botão */
.btn-icone {
    display: inline-block;
    width: 30px;
    height: 26px;
    position: absolute;
    left: 1.0rem;
    transform: rotate(0deg);
}

/* Cor do icone e pulsar */
.curtido .btn--icone-curtir {
    transform: scale(2);
}

.btn:not(.curtido).btn--icone-curtido {
    transform: scale(-2);
}

.curtido .btn--icone-curtir,
.btn--icone-curtido {
    opacity: 0;
    position: absolute;
}

.btn--icone-curtir,
.curtido .btn--icone-curtido {
    opacity: 1;
    left: 1.5rem;
}

/*-- Conteudo do botão -- */
.btn-conteudo {
    display: center;
}

/* Rotação */
.btn:not(.curtido) .btn-conteudo--curtido {
    transform: translate(140px);
}

.btn:not(.curtido) .btn-conteudo--curtir {
    transform: translate(-90px);
}

.curtido .btn-conteudo--curtir {
    transform: translate(40px);
}

.btn-conteudo--curtido {
    transform: translate(-40px);
}

/* Classes que utilizam propriedades iguais */
.btn,
.btn-curtir,
.btn-icone,
.curtido,
.btn-conteudo,
.btn-conteudo--curtir,
.btn-conteudo--curtir {
    transition: 1.5s;
}

    .btn,
    .btn:hover.curtido .btn-conteudo,
    .btn.curtido:hover .btn-icone {
        color: var(--gray);
    }

        .btn:hover,
        .btn:hover .btn-icone {
            color: var(--green);
        }

    .curtido .btn--icone-curtir,
    .btn--icone-curtido,
    .curtido .btn-conteudo {
        color: var(--verde-escuro);
    }