html {
  font-size: 14px;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.table{
    color:#fff;
}
body {
    margin-bottom: 60px;
    background: #161815;
    color:#fff;
}
.verPerfil {
    position: relative;
    left: 70vw;
}