html {
  font-size: 14px;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.table{
    color:#fff;
}
body {
    margin-bottom: 60px;
    background: #161815;
    color:#fff;
}
.verPerfil {
    position: relative;
    left: 70vw;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #7da62c;
}
.botaovolta {
    width: 78px;
    position: relative;
    left: 42em;
    position: relative;
    padding: 8px;
    background-color: #7da62c;
    border: 1px solid #7da62c;
    border-radius: 5px;
    height: 38px;
    bottom: 6px;
    text-align: center;
}
    .botaovolta:hover {
        color: #fff;
        background-color: transparent;
        border: 1px solid #7da62c;
        
    }
    label{
        color:#fff;
    }
.dataTables_length{
    color:aliceblue;
}