html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
table{
    color:#fff;
}
td,th{
    color:#fff;
}
html {
  position: relative;
  min-height: 100%;
}
#menu {
    color: #fff;
    background: #1c211b;
}
body {
    margin-bottom: 60px;
    background: #161815;
    color: #fff;
    overflow-x: hidden;
}
.verPerfil {
    position: relative;
    left: 70vw;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #1c211b;
    color: #fff;
}
.text-dark {
    
     color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-brand {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #7da62c;
}
.border-top {
    border-top: 1px solid #161815 !important;
}
.border-bottom {
    border-bottom: 1px solid #1c211b !important;
}
.escolhasIniciais {
    font-size: 20px;
    position: relative;
    margin: 0 auto;
    padding: 7px;
    color: #7da62c;
    background-color: transparent;
    border-color: #7da62c;
}

.escolhasIniciais:hover {
        color: #fff ;
        Background-color:#7da62c;
    }

#indicadores {
    display: flex;
    position: relative;
    left: 30vw;
    top: 5em;
}
#insfit {
    color: #7da62c;
}
.form-control {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #7da62c;
    border-top: 0px;
    border-left: 0;
}
.row {
   
    justify-content: center;
}
.btn-primary {
    color: #fff;
    background-color: #7da62c;
    border-color: #7da62c;
    position:relative;
    left: 20em;
    top: 2em;
}


    .btn-primary:hover {
        color: #fff;
        background-color: transparent;
        border-color: #7da62c;
    }
a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color:#fff
}
label {
    display: inline-block;
    padding: 8px;
    color: #fff;
}



.dataTables_length {
    color: aliceblue;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
    color: aliceblue;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
    color: aliceblue;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: white;
        border: 1px solid transparent;
        border-radius: 2px;
    }




 .dataTables_info{

 color:azure;
}