html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
#menu {
    color: #fff;
    background: #1c211b;
}
body {
    margin-bottom: 60px;
    background: #161815;
    color: #fff;
    overflow-x: hidden;
}
.verPerfil {
    position: relative;
    left: 70vw;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #1c211b;
    color: #fff;
}
.text-dark {
    
     color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-brand {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #7da62c;
}
.border-top {
    border-top: 1px solid #161815 !important;
}
.border-bottom {
    border-bottom: 1px solid #1c211b !important;
}
.escolhasIniciais {
    font-size: 20px;
    position: relative;
    margin: 0 auto;
    padding: 7px;
    color: #7da62c;
    background-color: transparent;
    border-color: #7da62c;
}

.escolhasIniciais:hover {
        color: #fff ;
        Background-color:#7da62c;
    }

#indicadores {
    display: flex;
    position: relative;
    left: 30vw;
    top: 5em;
}